name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  export-web:
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.6
    steps:
      - uses: actions/checkout@v4

      - name: Setup export templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/4.6.stable ~/.local/share/godot/export_templates/4.6.stable

      - name: Import project
        run: |
          godot --headless --import 2>&1 || true
          sleep 2

      - name: Web Build
        run: |
          mkdir -p build/web
          godot --headless --verbose --export-release "Web" build/web/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: build/web
